
* {
    box-sizing: border-box;
    scroll-padding-top: 4rem;
}

html {
    font-size: 16px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

#logo div.img-container {
    height: 2rem;
    width: auto;    
}

.img-container img {
    height: 100%;
    width: 100%;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0 0.5rem;
    
}
