
* {
    box-sizing: border-box;
    scroll-padding-top: 4rem;
}

html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: rgb(51, 51, 51);
}

body {
    line-height: 1.4;
    background-color: rgb(240, 240, 240);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1.25rem;
    font-weight: normal;
}

.img-container {
    background-size: cover;
}

header {
    background-color: rgb(255, 255, 255);
}

header.large {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

header.large a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

#logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

#logo div.img-container {
    height: 2rem;
    width: 2rem;    
    background-image: url(../images/ic-logo.svg);
    background-size: cover;
}

#logo p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
}

.large nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.large nav ul li {
    margin: 0 0.5rem;    
}

header.small {
    display: none;
    padding: 1rem 1.5rem;
}

@media only screen and (max-width: 710px) {
    header.large {
        display: none;
    }

    header.small {
        display: block;
    }
}

#colmar {
    font-weight: 600;
    color: rgb(51, 51, 51);
}

#academy {
    font-weight: 400;
    color: rgb(128, 128, 128)
}

#icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#icons div.img-container {
    height: 2rem;
    width: 2rem;
}

#icon1 {
    background-image: url(../images/ic-logo.svg);
    background-size: cover;
}

#icon2 {
    background-image: url(../images/ic-on-campus.svg);
    background-size: cover;
}

#icon3 {
    background-image: url(../images/ic-online.svg);
    background-size: cover;
}

#icon4 {
    background-image: url(../images/ic-login.svg);
    background-size: cover;
}

section {
    width: 100%;
    display: flex;
}

#banner {
    background-color: rgb(211, 211, 211);
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#banner figure {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
    flex-shrink: 0;
}

#banner img {
    width: 100%;
}

#banner div.text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem 1rem;
    margin-right: 3.5rem;
}

#banner h1 {
    margin-bottom: 2rem;
}

#banner h3 {
    margin-bottom: 1.5rem;
}

#button {
    width: 100%;
    background-color: rgb(51, 51, 51);
    padding: 0.5rem;
    text-align: center;
}

#button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
}

@media only screen and (max-width: 1021px) {
    #banner {
        flex-flow: column nowrap;
    }

    #banner figure {
        width: 100%;
        padding: 0;
    }

    #banner div.text {
        margin: 0;
    }
}

.left {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    padding: 2rem 1.5rem;
}

.left img,
.right img {
    width: 100%;    
}

.left div.text {
    margin-top: 2rem;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    margin-top: 1rem;
}

.right article {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
}

.right figure {
    width: 35%;
    height: auto;
    flex-shrink: 0;
}

.right div.text {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right p {
    font-size: 1.125rem;
}

.info-lrg {
    display: flex;
    align-items: center;
}

.info-small {
    display: none;
}

#info {
    flex-flow: row nowrap;
    align-items: flex-start;
}

#info h1 {
    margin-bottom: 1.5rem;
}

#info h2 {
    margin-bottom: 0.5rem;
}

#info a {
    color: rgb(70, 130, 180);
    font-size: 1.125rem;
    margin-top: 0.5rem;
}

#info article.left p {
    margin-bottom: 2rem;
}

#guest {
    background-color: rgb(211, 211, 211);
}

@media only screen and (max-width:1021px) {
    #info {
        flex-flow: column nowrap;
    }

    #info article.left {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }

    #info div.right {
        width: 100%;
        margin: 0;
    }

    #info div.right article {
        flex-flow: column nowrap;
        margin-bottom: 2rem;
    }

    #info div.right figure {
        width: 100%;
        flex-shrink: 1;
    }

    .info-lrg {
        display: none;
    }

    .info-small {
        display: block;
    }

    #guest {
        background-color: inherit;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 710px) {
    #info article.left {
        display: none;
    }
}

#learning {
    background-color: rgb(211, 211, 211);
    padding: 2rem 3.5rem;
    flex-flow: column nowrap;
}

#learning h1 {
    text-align: center;
}

#courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

#courses article {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 1rem 0 1rem;
    flex: 1 1 30%;
}

#courses div.text {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    flex-grow: 1;
}

#courses figure img {
    width: 100%;
}

#courses h2 {
    margin-bottom: 0.5rem;
}

#courses p {
    margin: 0.5rem 0;
}

@media only screen and (max-width: 710px) {
    #learning {
        background-color: rgb(240, 240, 240);
        padding: 2rem 1rem;
    }

    #learning h1 {
        padding-bottom: 1rem;;
    }

    #courses {
        display: block;
    }

    #courses article {
        margin: 0.5rem 0;
    }

    #courses figure {
        display: none;
    }

    #courses p {
        display: none;
    }
    #courses div.text {
        background-color: rgb(211, 211, 211);
    }
}

#thesis {
    flex-flow: column nowrap;
    padding: 2rem 0;
}

#thesis h1 {
    margin-bottom: 2rem;
    text-align: center;
}

#exhibit {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.left video {
    width: 100%;
}

.left h2 {
    margin-bottom: 0.5rem;
}

.right h2 {
    margin-bottom: 0.5rem;
}

#thesis div.right {
    margin-top: 2rem;
}

.gray {
    background-color: rgb(211, 211, 211);
}
