//1. Variables

//Colours

$white: hsl(0, 0%, 100%);
$light-grey: hsl(0, 0%, 94%);
$some-grey: hsl(0, 0%, 83%);
$medium-grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 20%);
$blue-ish: hsl(207, 47%, 58%);

//Fonts

$verdana: Verdana, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$fira-sans: 'Fira Sans', sans-serif;

//Properties

$row-sp: row nowrap, space-between, center;
$row-end: row nowrap, flex-end, center;
$row-spar: row nowrap, space-around, center;


//2. Mixins

@mixin flex($flow, $justify, $align) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
}

//3. Elements and classes

/*Elements*/


* {
    box-sizing: border-box;
    scroll-padding-top: 4rem;
}

html {
    font-size: 16px;
    font-family: $verdana;
    color: $dark-grey;
}

body {
    line-height: 1.4;
    background-color: $light-grey;
}

main {
    position: relative;
    top: 4rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1.25rem;
    font-weight: normal;
}

header {
    width: 100%;
    background-color: $white;
    position: fixed;
    z-index: 1;
}

section {
    width: 100%;
    display: flex;
}

img {
    width: 100%;    
}

video {
    width: 100%;
}

/*Classes*/

.img-container {
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

.left,
.right {
    display: flex;
    flex-flow: column nowrap; 
}

.left {    
    width: 60%;
    padding: 2rem 1.5rem;

    .text {

        h2 {
            margin-bottom: 0.5rem;
        }
        
    }
}

.right {    
    width: 40%;
    margin-top: 1rem;

    article {
        display: flex;
        flex-flow: row nowrap;
        padding: 1rem;

        figure {
            width: 35%;
            height: auto;
            flex-shrink: 0;
        }
    
        .text {
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h2 {
                margin-bottom: 0.5rem;
            }
    
            p {
                font-size: 1.125rem;
            }
        }
    }    
}

//5. Nested site structures

/*Header*/

.large {
    @include flex($row-sp...);
    padding: 1rem;
    font-size: 1.25rem;
    font-family: $arial;

    #logo {
        @include flex($row-sp...);
        margin: 0 0.5rem;

        p {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-family: $fira-sans;

            #colmar {
                font-weight: 600;
                color: $dark-grey;
            }

            #academy {
                font-weight: 400;
                color: $medium-grey;
            }
        }

        .img-container {
            background-image: url(../images/ic-logo.svg);
        }
    }

    nav {
        
        ul {
            @include flex($row-end...);
            
            li {
                margin: 0 0.5rem;

                a {
                    color: $dark-grey;
                }    
            }
        }
    }
}

.small {
    display: none;
    padding: 1rem 1.5rem;

    #icons {
        @include flex($row-spar...);

        > * {
            background-size: cover;
        }

        #icon1 {
            background-image: url(../images/ic-logo.svg);
        }

        #icon2 {
            background-image: url(../images/ic-on-campus.svg);
        }

        #icon3 {
            background-image: url(../images/ic-online.svg);
        }

        #icon4 {
            background-image: url(../images/ic-login.svg);
        }
    }
}

/*Main section*/

#banner {
    background-color: $some-grey;
    flex-flow: row nowrap;
    justify-content: flex-start;

    figure {
        width: 60%;
        height: auto;
        padding: 2rem 1.5rem;
        flex-shrink: 0;
    }

    .text {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 2rem 1rem;
        margin-right: 3.5rem;

        h1 {
            margin-bottom: 2rem;
        }

        h3 {
            margin-bottom: 1.5rem;
        }

        #button {
            width: 100%;
            background-color: $dark-grey;
            padding: 0.5rem;
            text-align: center;

            a {
                color: $white;
                font-size: 1.25rem;
                font-weight: 300;
                line-height: 1.2;
            }
        }
    }
}

#info {
    flex-flow: row nowrap;
    align-items: flex-start;

    .left {

        .text {
            margin-top: 2rem;

            h1 {
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }

    .right {

        article {
            
            .info-lrg {
                display: flex;
                align-items: center;
            }
            
            .info-small {
                display: none;
            }

            .text {

                a {
                    color: $blue-ish;
                    font-size: 1.125rem;
                    margin-top: 0.5rem;
                }
            }
        }

        #guest {
            background-color: $some-grey;
        }
    }
}

#learning {
    background-color: $some-grey;
    padding: 2rem 3.5rem;
    flex-flow: column nowrap;

    h1 {
        text-align: center;
    }

    #courses {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: stretch;

        article {
            display: flex;
            flex-flow: column nowrap;
            margin: 2rem 1rem 0 1rem;
            flex: 1 1 30%;

            .text {
                background-color: rgb(255, 255, 255);
                padding: 1rem;
                flex-grow: 1;

                h2 {
                    margin-bottom: 0.5rem;
                }

                p {
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

#thesis {
    flex-flow: column nowrap;
    padding: 2rem 0;

    h1 {
        margin-bottom: 2rem;
        text-align: center;
    }

    #exhibit {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        .left {
            margin-bottom: 0.5rem;

            .text {
                margin: 0;
                padding: 1.5rem 0;
            }
        }

        .right {
            margin-top: 2rem;

            .gray {
                background-color: $some-grey;
            }

            figure {
                display: flex;
                align-items: center;
            }
        }
    }
}

/*Footer*/

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 4rem;
    padding: 1rem;
    border-top: 1px solid $some-grey;

    h5 {
        margin: 0 0.5rem;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        a {
            color: $dark-grey;
        }
    }
}

/*Media queries*/

@media only screen and (max-width: 710px) {
    .large {
        display: none;
    }

    .small {
        display: block;
    }
}

@media only screen and (max-width: 1021px) {
    #banner {
        flex-flow: column nowrap;

        figure {
            width: 100%;
            padding: 0;
        }

        .text {
            margin: 0;
        }
    }
}

@media only screen and (max-width:1021px) {
    #info {
        flex-flow: column nowrap;

        .left {
            width: 100%;
            padding: 0;
            margin-bottom: 2rem;

            .text {
                padding: 0 1rem;
            }
        }

        .right {
            width: 100%;
            margin: 0;

            article {
                flex-flow: column nowrap;
                margin-bottom: 2rem;

                figure {
                    width: 100%;
                    flex-shrink: 1;
                }

                .info-small {
                    display: block;
                }

                .info-lrg {
                    display: none;
                }
            }

            #guest {
                background-color: inherit;
                padding-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 710px) {
    #info article.left {
        display: none;
    }
}

@media only screen and (max-width: 710px) {
    #learning {
        background-color: rgb(240, 240, 240);
        padding: 2rem 1rem;

        h1 {
            padding-bottom: 1rem;;
        }

        #courses {
            display: block;

            article {
                margin: 0.5rem 0;

                figure {
                    display: none;
                }

                .text {
                    background-color: rgb(211, 211, 211);

                    p {
                        display: none;
                    }
                }
            }
        }
    }    
}

@media only screen and (max-width: 1021px) {
    #thesis {

        #exhibit {
            flex-flow: column nowrap;
    
            .left,
            .right {
                width: 100%;
    
                .gray {
                    background-color: inherit;
                }
            }
        }
    }        
}

@media only screen and (max-width: 710px) {
    #thesis {
        padding-bottom: 1rem;

        h1 {
            margin-bottom: 1rem;
        }

        #exhibit {

            .left {
                padding: 0rem;

                .text {
                    display: none;
                }
            }

            .right {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    footer ul {
        display: none;
    }
}